.game-grid {
    -fx-skin: "gol.gui.skin.GameGridSkin";
}

.game-cell {
    -fx-border-color: gray;
    -fx-border-width: .1;
    -fx-background-color: white;
}

.game-cell:alive {
    -fx-background-color: black;
}